# Python
__pycache__/
*.py[cod]
*$py.class
venv/
saf_env/
vlm_env/

# Models
*.pt
*.pth

# Data & Results
*.json
*.csv
*.tar
*.zip
charades_ego_data/
test_raw_videos/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
debug_smoke_test.jpg

# Environment
.env
scratch/
